@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  color: #210000;
  font-family: "Inter", "Noto Sans JP", "Hiragino Sans", "ヒラギノ角ゴ ProN", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, "游ゴシック Medium", YuGothic, YuGothicM, sans-serif;
  font-feature-settings: "palt";
  text-align: justify;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.sp-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

.pc-only {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .header-container {
    padding: 0;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .header-logo {
    max-width: 292px;
  }
}
.header-logo h1 {
  max-width: 480px;
}
.header-logo span {
  font-weight: bold;
}
.header-contact-btn {
  gap: 10px;
  padding: 18px;
}
.header-contact-btn-supplyment {
  font-size: 0.875rem;
  padding: 4px 9px;
}

.sp-hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp-hamburger {
    width: 56px;
    height: 53px;
    background-image: linear-gradient(#ECB54A, #D8632E);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 15px;
    z-index: 10;
  }
  .sp-hamburger__bar {
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;
  }
  .sp-hamburger__bar.active:nth-of-type(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .sp-hamburger__bar.active:nth-of-type(2) {
    opacity: 0;
  }
  .sp-hamburger__bar.active:nth-of-type(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
.sp-header-nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp-header-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 80%;
    height: 110vh;
    background: #fff;
    padding: 0 16px;
    margin-left: auto;
    transform: translateX(100%);
    transition: transform 0.6s;
  }
  .sp-header-nav.open {
    transform: translateX(0);
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .sp-header-nav__list {
    padding-top: 90px;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .sp-header-nav__item {
    padding: 18px 0;
    border-bottom: 1px solid #CCCCCC;
    color: #223E69;
    font-size: 0.875rem;
    font-weight: bold;
  }
  .sp-header-nav__item:first-child {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .sp-header-contact-btn {
    margin: 0 auto;
    margin-top: 52px;
  }
}
@media screen and (max-width: 768px) {
  .sp-header-contact-btn-supplyment {
    font-size: 0.75rem;
    padding: 3px 4px;
  }
}
@media screen and (max-width: 768px) {
  .sp-header-contact-btn-text {
    font-size: 0.875rem;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  font-size: 0.875rem;
}
.footer-container {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer-container {
    gap: 15px;
  }
}
.footer-copyright {
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .footer-copyright {
    font-size: 0.625rem;
  }
}

.l-inner {
  margin: 0 auto;
}

.c-heading {
  font-size: 2.625rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .c-heading {
    font-size: 1.375rem;
  }
}
.c-heading-text {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .c-heading-text {
    font-size: 0.625rem;
    margin-top: 8px;
  }
}

.c-contact-btn {
  background-image: linear-gradient(#EDB54A, #D9632D);
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .c-contact-btn {
    justify-content: center;
    gap: 10px;
  }
}
.c-contact-btn-supplyment {
  background-color: #fff;
  border-radius: 22px;
}
.c-contact-btn-text {
  color: #fff;
}

.c-contact-banner {
  width: 100%;
  background-image: url("../images/contact_banner_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.c-contact-banner__container {
  padding: 40px 40px;
}
@media screen and (max-width: 768px) {
  .c-contact-banner__container {
    padding: 30px 15px;
  }
}
.c-contact-banner__container__last {
  margin-top: 60px;
}
.c-contact-banner__body {
  max-width: 1000px;
  background-color: #fff;
  padding: 40px 0;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .c-contact-banner__body {
    padding: 30px 15px;
  }
}
.c-contact-banner__body__heading {
  text-align: center;
}
.c-contact-banner__body__heading span {
  color: #DDDDDD;
}
.c-contact-banner__body__text {
  padding-top: 35px;
  text-align: center;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .c-contact-banner__body__text {
    font-size: 0.875rem;
    padding-top: 26px;
    line-height: 22px;
  }
}
.c-contact-banner__body-contact-btn {
  max-width: 660px;
  height: 100px;
  padding: 0 70px;
  margin: 0 auto;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .c-contact-banner__body-contact-btn {
    height: 63px;
    padding: 0 17px;
    margin-top: 30px;
  }
}
.c-contact-banner__body-contact-btn-supplyment {
  font-size: 1.625rem;
  padding: 8px 18px;
}
@media screen and (max-width: 768px) {
  .c-contact-banner__body-contact-btn-supplyment {
    font-size: 0.75rem;
    padding: 5px 8px;
  }
}
.c-contact-banner__body-contact-btn-text {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .c-contact-banner__body-contact-btn-text {
    font-size: 1.0625rem;
  }
}

.swiper {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .swiper {
    padding-top: 30px;
  }
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  height: 320px !important;
  width: auto !important;
}
@media screen and (max-width: 768px) {
  .swiper-slide {
    max-width: 120px;
    max-height: 80px;
  }
}

.p-hero__container {
  width: 100%;
  background-image: url(../images/hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .p-hero__container {
    padding-bottom: 35px;
  }
}
.p-hero__body {
  color: #223E69;
  padding-top: 140px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-hero__body {
    padding-top: 80px;
  }
}
.p-hero__body__subHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .p-hero__body__subHeading {
    flex-direction: column;
  }
}
.p-hero__body__subHeading__box {
  display: block;
  background-color: #fff;
  border: 2px solid #223E69;
  border-radius: 3px;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 8px 10px;
}
@media screen and (max-width: 768px) {
  .p-hero__body__subHeading__box {
    font-size: 1rem;
  }
}
.p-hero__body__subHeading__text {
  font-size: 1.625rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-hero__body__subHeading__text {
    font-size: 1rem;
  }
}
.p-hero__body__heading {
  font-size: 4.5rem;
  padding-top: 27px;
  line-height: 87px;
}
@media screen and (max-width: 768px) {
  .p-hero__body__heading {
    font-size: 1.875rem;
    line-height: 37px;
  }
}
.p-hero__body__heading strong {
  font-size: 3.25rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-hero__body__heading strong {
    font-size: 1.25rem;
  }
}
.p-improvement__container {
  width: 100%;
  background-image: url(../images/improvement_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.p-improvement__block {
  max-width: 1000px;
  padding: 60px 20px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-improvement__block {
    padding: 30px 15px;
  }
}
.p-improvement__heading {
  max-width: 620px;
  border-bottom: 4px solid #fff;
  color: #fff;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .p-improvement__heading {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding-bottom: 18px;
  }
}
.p-improvement__desc {
  max-width: 620px;
  color: #fff;
  font-size: 1.25rem;
  line-height: 34px;
  padding-top: 35px;
}
@media screen and (max-width: 768px) {
  .p-improvement__desc {
    font-size: 0.875rem;
    line-height: 22px;
    padding-top: 19px;
  }
}
.p-improvement__body {
  background-color: #fff;
  padding: 45px;
  margin-top: 60px;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .p-improvement__body {
    padding: 30px 16px;
    margin-top: 30px;
  }
}
.p-improvement__body__heading {
  color: #223E69;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-improvement__body__heading {
    font-size: 1rem;
    line-height: 22px;
  }
}
.p-improvement__body__cards {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .p-improvement__body__cards {
    flex-direction: column;
    padding-top: 30px;
    row-gap: 23px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.p-improvement__body__card:first-child, .p-improvement__body__card:nth-child(2), .p-improvement__body__card:nth-child(3) {
  width: 31%;
}
@media screen and (max-width: 768px) {
  .p-improvement__body__card:first-child, .p-improvement__body__card:nth-child(2), .p-improvement__body__card:nth-child(3) {
    width: 100%;
  }
}
.p-improvement__body__card:nth-child(4), .p-improvement__body__card:nth-child(5), .p-improvement__body__card:nth-child(6), .p-improvement__body__card:last-child {
  width: 23%;
}
@media screen and (max-width: 768px) {
  .p-improvement__body__card:nth-child(4), .p-improvement__body__card:nth-child(5), .p-improvement__body__card:nth-child(6), .p-improvement__body__card:last-child {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .p-improvement__body__card__img img {
    width: 100%;
  }
}
.p-improvement__body__card__text {
  font-size: 0.875rem;
  padding-top: 14px;
  line-height: 22px;
  text-align: center;
}
.p-quality {
  background-color: #EEF2F6;
}
.p-quality__container {
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .p-quality__container {
    padding: 30px 0;
  }
}
.p-quality__heading {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-quality__heading {
    padding: 0 30px;
  }
}
.p-quality__heading h2 {
  color: #223E69;
}
.p-quality__heading h2 span {
  color: #223E69;
}
@media screen and (max-width: 768px) {
  .p-quality__heading h2 {
    color: #210000;
  }
}
.p-quality__heading span {
  color: #B4BECD;
}
.p-quality__cards {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding-top: 56px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-quality__cards {
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
    padding-top: 28px;
  }
}
@media screen and (max-width: 768px) {
  .p-quality__card__img img {
    width: 100%;
  }
}
.p-quality__card__text {
  background-color: #fff;
  padding: 28px;
}
@media screen and (max-width: 768px) {
  .p-quality__card__text {
    padding: 20px;
  }
}
.p-quality__card__text__name {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .p-quality__card__text__name {
    font-size: 1.625rem;
  }
}
.p-quality__card__text span {
  display: block;
  font-size: 1.125rem;
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .p-quality__card__text span {
    font-size: 0.875rem;
    margin-top: 4px;
  }
}
.p-quality__achivements {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-quality__achivements {
    flex-direction: column;
    padding: 0 30px;
    padding-top: 30px;
  }
}
.p-quality__achivements__body {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .p-quality__achivements__body {
    width: 100%;
  }
}
.p-quality__achivements__body__subHeading {
  font-size: 1.875rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-quality__achivements__body__subHeading {
    font-size: 1.25rem;
    padding-bottom: 16px;
  }
}
.p-quality__achivements__body__text {
  line-height: 32px;
  margin-top: 37px;
}
@media screen and (max-width: 768px) {
  .p-quality__achivements__body__text {
    margin-top: 16px;
    line-height: 22px;
    font-size: 0.875rem;
  }
}
.p-quality__roofs {
  max-width: 1180px;
  background-color: #fff;
  border-radius: 3px;
  padding: 50px 90px;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .p-quality__roofs {
    padding: 20px 15px;
    margin: 0 15px;
    margin-top: 27px;
  }
}
.p-quality__roofs__supplyment {
  font-size: 0.875rem;
  line-height: 20px;
  padding-top: 23px;
}
@media screen and (max-width: 768px) {
  .p-quality__roofs__supplyment {
    font-size: 0.75rem;
    line-height: 18px;
    padding-top: 12px;
  }
}
.p-quality__roofs__supplyment p:last-child {
  margin-top: 20px;
}
.p-quality__roof:last-child {
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .p-quality__roof:last-child {
    padding-top: 20px;
  }
}
.p-quality__roof__heading {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .p-quality__roof__heading {
    gap: 6px;
  }
}
.p-quality__roof__heading span {
  background-color: #223E69;
  color: #fff;
  font-size: 1.625rem;
  font-weight: bold;
  padding: 9px 11px;
}
@media screen and (max-width: 768px) {
  .p-quality__roof__heading span {
    font-size: 0.875rem;
    padding: 4px 7px;
  }
}
.p-quality__roof__heading p {
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-quality__roof__heading p {
    font-size: 0.875rem;
  }
}
.p-quality__roof__image {
  padding-top: 23px;
}
.p-quality__roof__image:last-child {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .p-quality__roof__image:last-child {
    display: block;
  }
}
.p-quality__roof__image img:last-child {
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .p-quality__roof__image__sp img {
    width: 100%;
  }
}
.p-construction__container {
  width: 100%;
  background-image: url(../images/construction_bg.png);
  background-size: cover;
}
.p-construction__block {
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .p-construction__block {
    padding: 30px;
  }
}
.p-construction__heading {
  text-align: center;
}
.p-construction__heading h2 {
  color: #fff;
}
.p-construction__heading span {
  color: #B4BECD;
}
.p-construction__cases {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 55px;
}
@media screen and (max-width: 768px) {
  .p-construction__cases {
    padding-top: 28px;
  }
}
.p-construction__case {
  background-color: #EEF2F6;
  border-radius: 3px;
  padding: 34px 46px;
}
@media screen and (max-width: 768px) {
  .p-construction__case {
    padding: 20px;
  }
}
.p-construction__case:not(:first-child) {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .p-construction__case:not(:first-child) {
    margin-top: 15px;
  }
}
.p-construction__case__heading span {
  color: #223E69;
  font-weight: bold;
}
.p-construction__case__heading span:first-child {
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .p-construction__case__heading span:first-child {
    font-size: 1rem;
    font-weight: normal;
    display: block;
  }
}
.p-construction__case__heading span:nth-child(2) {
  font-size: 1.875rem;
}
@media screen and (max-width: 768px) {
  .p-construction__case__heading span:nth-child(2) {
    font-size: 1rem;
  }
}
.p-construction__case__heading span:last-child {
  font-size: 1.625rem;
}
@media screen and (max-width: 768px) {
  .p-construction__case__heading span:last-child {
    font-size: 0.875rem;
  }
}
.p-construction__case__list__text {
  background-color: #223E69;
  color: #fff;
  font-size: 1.125rem;
  padding: 6px 7px;
  margin-top: 25px;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .p-construction__case__list__text {
    font-size: 0.875rem;
    padding: 5px;
    margin-top: 20px;
  }
}
.p-construction__case__item {
  margin-top: 13px;
  list-style: inside;
  text-indent: -20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .p-construction__case__item {
    font-size: 0.875rem;
    list-style: inside;
    text-indent: -20px;
    padding-left: 20px;
  }
}
.p-construction__case__item:first-child {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .p-construction__case__item__sp {
    display: list-item !important;
    line-height: 22px;
  }
}
.p-construction__case__body {
  background-color: #fff;
  display: flex;
  gap: 18px;
  padding: 27px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .p-construction__case__body {
    padding: 20px;
  }
}
.p-construction__case__body__text {
  width: 100%;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  .p-construction__case__body__text {
    font-size: 0.8125rem;
    line-height: 20px;
    width: 70%;
  }
}
.p-construction__case__body__text__voice {
  background-color: #223E69;
  border-radius: 17px;
  color: #fff;
  font-size: 1.125rem;
  padding: 7px 14px;
  margin-bottom: 14px;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .p-construction__case__body__text__voice {
    font-size: 0.8125rem;
    padding: 6px;
    margin: 0 auto;
    margin-top: 8px;
  }
}
.p-introduce__container {
  background-color: #EEF2F6;
  padding: 60px 0 220px 0;
}
@media screen and (max-width: 768px) {
  .p-introduce__container {
    padding: 30px 30px 180px 30px;
  }
}
.p-introduce__heading {
  text-align: center;
}
.p-introduce__heading h2 {
  color: #223E69;
}
.p-introduce__heading span {
  color: #B4BECD;
}
.p-introduce__flow__cards {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 58px;
  padding-top: 80px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-introduce__flow__cards {
    row-gap: 30px;
    padding-top: 40px;
  }
}
.p-introduce__flow__card {
  width: 430px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  padding: 35px 10px;
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .p-introduce__flow__card {
    padding: 25px 10px;
    padding-top: 0;
    margin-top: 15px;
  }
}
.p-introduce__flow__card::after {
  content: "01";
  position: absolute;
  top: -20px;
  left: 20px;
  color: #223E69;
  font-size: 2.625rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}
.p-introduce__flow__card__02::after {
  content: "02";
}
.p-introduce__flow__card__03::after {
  content: "03";
}
.p-introduce__flow__card__04::after {
  content: "04";
}
.p-introduce__flow__card__arrow img {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .p-introduce__flow__card__arrow img {
    width: 16px;
    height: 8px;
  }
}
.p-introduce__flow__card__icon {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-introduce__flow__card__icon__1 {
    margin-top: -20px;
  }
}
.p-introduce__flow__card__icon__2, .p-introduce__flow__card__icon__3, .p-introduce__flow__card__icon__4 {
  margin-top: -20px;
}
.p-introduce__flow__card__heading {
  color: #223E69;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 22px;
  text-align: center;
}
.p-introduce__flow__card__text {
  line-height: 26px;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-introduce__flow__card__text {
    padding: 0;
    padding-top: 13px;
  }
}
.p-chance-banner {
  margin-top: -140px;
}
.p-chance-banner__container {
  max-width: 1000px;
  width: 100%;
  background-image: url(../images/chance_banner_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 6px solid #233E69;
  border-radius: 20px;
  padding: 45px 0;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__container {
    width: auto;
    background-size: cover;
    border: 6px solid #233E69;
    border-radius: 20px;
    padding: 36px 28px;
    margin: 0 30px;
  }
}
.p-chance-banner__heading p:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__heading p:first-child {
    font-size: 0.875rem;
  }
}
.p-chance-banner__heading p:first-child::before, .p-chance-banner__heading p:first-child::after {
  background-color: #210000;
  border-radius: 5px;
  content: "";
  height: 2px;
  width: 25px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__heading p:first-child::before, .p-chance-banner__heading p:first-child::after {
    width: 16px;
    height: 1px;
  }
}
.p-chance-banner__heading p:first-child::before {
  margin-right: 10px;
  transform: rotate(60deg);
}
.p-chance-banner__heading p:first-child::after {
  margin-left: 10px;
  transform: rotate(-60deg);
}
.p-chance-banner__heading p span {
  color: #D18536;
  font-size: 2.1875rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__heading p span {
    font-size: 1.125rem;
  }
}
.p-chance-banner__heading p .ga {
  color: #210000;
  font-size: 23px !important;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__heading p .ga {
    font-size: 0.75rem !important;
    padding-top: 2px;
  }
}
.p-chance-banner__heading p:last-child {
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 4px solid #D68738;
  color: #223E69;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 7px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__heading p:last-child {
    border-bottom: 2px solid #D68738;
    font-size: 1.25rem;
    padding-bottom: 13px;
    margin-top: 10px;
  }
}
.p-chance-banner__limited {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__limited {
    display: none;
  }
}
.p-chance-banner__limited__sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__limited__sp {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .p-chance-banner__limited__sp__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
  }
}
.p-chance-banner__limited__sp__desc {
  margin-top: 9px;
}
.p-chance-banner__limited__supplyment {
  background-color: #223E69;
  border-radius: 12px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 6px 10px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__limited__supplyment {
    font-size: 0.625rem;
    padding: 4px 5px;
  }
}
.p-chance-banner__limited__desc {
  font-size: 0.875rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__limited__desc {
    font-size: 0.75rem;
  }
}
.p-chance-banner__text {
  line-height: 28px;
  padding-top: 25px;
}
@media screen and (max-width: 768px) {
  .p-chance-banner__text {
    font-size: 0.8125rem;
    line-height: 20px;
    padding-top: 17px;
  }
}
.p-comment__container {
  max-width: 1000px;
  background-color: #EEF2F6;
  border-radius: 3px;
  padding: 65px 75px;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .p-comment__container {
    padding: 30px 15px;
    margin-top: 30px;
  }
}
.p-comment__heading {
  text-align: center;
}
.p-comment__heading h2 {
  color: #223E69;
}
.p-comment__heading span {
  color: #B4BECD;
}
.p-comment__content {
  padding-top: 56px;
}
@media screen and (max-width: 768px) {
  .p-comment__content {
    padding-top: 28px;
  }
}
.p-comment__content__profile {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile {
    flex-direction: column-reverse;
  }
}
.p-comment__content__profile__body {
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body {
    padding-top: 20px;
  }
}
.p-comment__content__profile__body__company {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #223E69;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body__company {
    font-size: 0.875rem;
    padding: 6px;
  }
}
.p-comment__content__profile__body__name {
  padding-top: 18px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body__name {
    padding-top: 14px;
  }
}
.p-comment__content__profile__body__name__position {
  color: #5E7392;
  font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body__name__position {
    font-size: 0.75rem;
  }
}
.p-comment__content__profile__body__name__name {
  font-size: 1.375rem;
  font-weight: bold;
  padding-top: 12px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body__name__name {
    font-size: 0.75rem;
    padding-top: 8px;
  }
}
.p-comment__content__profile__body__name__name span {
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body__name__name span {
    font-size: 1.375rem;
  }
}
.p-comment__content__profile__body__thoughts {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 40px;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__profile__body__thoughts {
    font-size: 1rem;
    line-height: 22px;
    padding-top: 11px;
  }
}
.p-comment__content__body {
  line-height: 26px;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__body {
    font-size: 0.8125rem;
    line-height: 20px;
    padding-top: 20px;
  }
}
.p-comment__content__body p:not(:first-child) {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .p-comment__content__body p:not(:first-child) {
    margin-top: 13px;
  }
}
.p-contact-form__container {
  width: 100%;
  background-color: #E09554;
  padding: 60px 0;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__container {
    margin-top: 0;
    padding: 30px 15px;
  }
}
.p-contact-form__block {
  max-width: 1000px;
  background-color: #fff;
  padding: 60px 130px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-contact-form__block {
    padding: 30px 25px;
  }
}
.p-contact-form__heading {
  text-align: center;
}
.p-contact-form__heading span {
  color: #DDDDDD;
}
.p-contact-form__form {
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form {
    padding-top: 30px;
  }
}
.p-contact-form__form__item {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 13px;
  }
}
.p-contact-form__form__item:not(:first-child) {
  padding-top: 46px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item:not(:first-child) {
    padding-top: 27px;
  }
}
.p-contact-form__form__item__address, .p-contact-form__form__item__contact, .p-contact-form__form__item__privacy {
  align-items: flex-start;
}
.p-contact-form__form__item__privacy {
  border: 2px solid #D68738;
  border-radius: 3px;
  padding: 30px;
  margin-top: 30px;
}
.p-contact-form__form__item__required {
  background-color: #223E69;
  border-radius: 3px;
  color: #fff;
  font-size: 0.6875rem;
  font-weight: bold;
  padding: 3px 4px;
}
.p-contact-form__form__item__required__privacy {
  height: 18px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.p-contact-form__form__item__label {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-contact-form__form__item__label label {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__label label {
    font-size: 0.875rem;
  }
}
.p-contact-form__form__item__label__privacy {
  align-items: flex-start;
  line-height: 27px;
}
.p-contact-form__form__item__input {
  width: 100%;
}
.p-contact-form__form__item__input input,
.p-contact-form__form__item__input select,
.p-contact-form__form__item__input textarea {
  height: 31px;
  width: 100%;
  background-color: #F2F2F2;
  padding-left: 8px;
  font-size: 0.875rem;
}
.p-contact-form__form__item__input input::-moz-placeholder, .p-contact-form__form__item__input select::-moz-placeholder, .p-contact-form__form__item__input textarea::-moz-placeholder {
  color: #C7C7C7;
}
.p-contact-form__form__item__input input::placeholder,
.p-contact-form__form__item__input select::placeholder,
.p-contact-form__form__item__input textarea::placeholder {
  color: #C7C7C7;
}
.p-contact-form__form__item__input input .gray,
.p-contact-form__form__item__input select .gray,
.p-contact-form__form__item__input textarea .gray {
  color: #C7C7C7;
}
.p-contact-form__form__item__input textarea {
  height: 183px;
  padding-top: 8px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__input textarea {
    height: 130px;
  }
}
.p-contact-form__form__item__input__flex {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__input__flex {
    gap: 30px;
  }
}
.p-contact-form__form__item__input__radio {
  display: flex;
  align-items: center;
}
.p-contact-form__form__item__input__radio input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__input__privacy label {
    font-size: 0.875rem;
  }
}
.p-contact-form__form__item__input__privacy__text {
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__input__privacy__text {
    font-size: 0.6875rem;
  }
}
.p-contact-form__form__item__input__privacy__text a {
  border-bottom: 1px solid #D68738;
  color: #D68738;
  padding-bottom: 4px;
}
.p-contact-form__form__item__input__privacy input {
  width: 18px;
  height: 18px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  background-color: #F2F2F2;
  border-radius: 3px;
  margin-right: 12px;
}
.p-contact-form__form__item__address__input__flex {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__address__input__flex {
    align-items: normal;
    flex-direction: column;
    gap: 9px;
  }
}
.p-contact-form__form__item__address__input__inner {
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-contact-form__form__item__address__input__inner span {
  width: 100px;
}
.p-contact-form__form__item__address__input__postCode input {
  width: 73%;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__address__input__postCode input {
    width: 100%;
  }
}
.p-contact-form__form__item__address__input__prefecture select {
  position: relative;
}
.p-contact-form__form__item__address__input__prefecture select::after {
  content: ∨;
  width: 10px;
  height: 10px;
}
.p-contact-form__form__item__address__input__city, .p-contact-form__form__item__address__input__houseNumber {
  padding-top: 12px;
}
@media screen and (max-width: 768px) {
  .p-contact-form__form__item__address__input__city, .p-contact-form__form__item__address__input__houseNumber {
    padding-top: 9px;
  }
}
.p-contact-form__form__item__submit {
  width: 277px;
  height: 68px;
  background-image: linear-gradient(#edb54a, #d9632d);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 0 !important;
}/*# sourceMappingURL=styles.css.map */