@use "../global" as g;

.footer {
  background-color: #000;
  color: #fff;
  font-size: 0.875rem;
  &-container {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    @include g.mq(md) {
      gap: 15px;
    }
  }
  &-copyright {
    font-size: 0.875rem;
    @include g.mq(md) {
      font-size: 0.625rem;
    }
  }
}