@use "../../global" as g;

.swiper {
  padding-top: 50px;
  @include g.mq(md) {
    padding-top: 30px;
  }
}

.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  max-width: 329px;
  height: 320px !important;
  width: auto !important;
  @include g.mq(md) {
    max-width: 120px;
    max-height: 80px;
  }
}
